@use "sass:math";

//----------------------------------------
//行間
//----------------------------------------

@for $i from 10 through 20 {
	$j : $i * 10;
	$k : math.div($i, 10);
	.lh-#{$j} {
		line-height: $k !important;
	}
}