//------------------------------
//マージン・パディング
//------------------------------

@for $i from 0 through 6{
	$i : 5 * $i;
	.ma-#{$i}{
		margin: #{$i}px !important;
	}
	.mb-#{$i}{
		margin-bottom: #{$i}px !important;
	}
	.mt-#{$i}{
		margin-top: #{$i}px !important;
	}
	.ml-#{$i}{
		margin-left: #{$i}px !important;
	}
	.mr-#{$i}{
		margin-right: #{$i}px !important;
	}
	.pa-#{$i}{
		padding: #{$i}px !important;
	}
	.pb-#{$i}{
		padding-bottom: #{$i}px !important;
	}
	.pt-#{$i}{
		padding-top: #{$i}px !important;
	}
	.pl-#{$i}{
		padding-left: #{$i}px !important;
	}
	.pr-#{$i}{
		padding-right: #{$i}px !important;
	}
}

@for $i from 4 through 10{
	$i : 10 * $i;
	.ma-#{$i}{
		margin: #{$i}px !important;
	}
	.mb-#{$i}{
		margin-bottom: #{$i}px !important;
	}
	.mt-#{$i}{
		margin-top: #{$i}px !important;
	}
	.ml-#{$i}{
		margin-left: #{$i}px !important;
	}
	.mr-#{$i}{
		margin-right: #{$i}px !important;
	}
	.pa-#{$i}{
		padding: #{$i}px !important;
	}
	.pb-#{$i}{
		padding-bottom: #{$i}px !important;
	}
	.pt-#{$i}{
		padding-top: #{$i}px !important;
	}
	.pl-#{$i}{
		padding-left: #{$i}px !important;
	}
	.pr-#{$i}{
		padding-right: #{$i}px !important;
	}
}

.ma-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.ml-auto {
	margin-left: auto !important;
}

.mr-auto {
	margin-right: auto !important;
}