//------------------------------
//横
//------------------------------

//100-250(10刻み)

@for $i from 10 through 25{
	$i : 10 * $i;
	.w-#{$i}{
		max-width: #{$i}px;
	}
}

//260-400(20刻み)

@for $i from 13 through 20{
	$i : 20 * $i;
	.w-#{$i}{
		max-width: #{$i}px;
	}
}

//450-1000(100刻み)

@for $i from 9 through 24{
	$i : 50 * $i;
	.w-#{$i}{
		max-width: #{$i}px;
	}
}

.w-max {
	width: 100%;
}

//------------------------------
//縦
//------------------------------

@for $i from 1 through 10{
	$i : 50 * $i;
	.h-#{$i}{
		height: #{$i}px;
	}
}