//------------------------------
//テーブル
//------------------------------

.table1 {
	border-collapse: collapse;
	width: 100%;
	tr {
		border-bottom: 1px solid #444;
		&:first-child {
			border-top: 1px solid #444;
		}
	}
	th, td {
		padding: 17px 15px;
		line-height: 1.5;
	}
	th {
		font-weight: 400;
		white-space: nowrap;
	}
}

@media (max-width: 767px) {
	.table1 {
		th, td {
			font-size: 1.5rem;
		}
	}
}